<app-play-time *ngIf="!gameIsOver"></app-play-time>

<div class="board" [ngStyle]="{'grid-template-columns': 'repeat(' + board.dimension + ', 1fr)'}">
  @for (square of keys(); track $index) {
  <app-square [square]="square" [bgImage]="bgImage" [squareContent]="board.table[square]"
    (squareSelected)="onSelectSquare($event)" style="flex: 1"></app-square>
  }
</div>

<div *ngIf="!gameIsOver" class="d-flex justify-content-center align-items-center"
  style="padding: 10px; border-radius: 5px; position: absolute; left: 0; right: 0;">
  <button class="btn" (click)="onEndGame()">
    Terminar juego
  </button>
</div>