div#gameMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 600px;
  height: 600px;
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  div#gameMessage {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  div#gameMessage {
    height: 400px;
    width: 400px;
    padding: 20px;
  }
}

@media screen and (max-width: 450px) {
  div#gameMessage {
    height: 300px;
    width: 300px;
  }
}