/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Open Sans", serif;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn {
  background-color: #001c42;
  border: 0;
  color: #fff;
  width: 170px;
  height: 45px;
  margin: 5px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #003366;
}

.logo {
  width: 200px;
  margin: 10px;
}